@import "../../css/colors.css";
@import "../../css/units.css";

.menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;

    /*
        For most things, we shouldn't explicitly set height, and let the
        content push the element to whatever fits. Using a fixed height
        instead, will help us subtract the value we assign from the body,
        adding up to a perfect 100%. This means we don't need to set
        overflow: hidden, which makes it hard to debug. border-box
        simplifies by all of this by removing padding from the equation.
    */
    box-sizing: border-box;
    height: $menu-bar-height;

    /*
        @todo: This adds ~20px in Chrome, when scrolling to the right,
        but fixes [FFx + Safari] [resize window down + scroll to the right] bug.
        width: 100%;
    */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .75rem;
    font-weight: bold;
    background-color: $motion-primary;
    color: $ui-white;
}

.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}

.scratch-logo {
    height:  1.6rem;
    vertical-align: middle;
}

.menu {
    /* blocklyToolboxDiv is 40 */
    z-index: 50;
    top: $menu-bar-height;
}

.menu-bar-item {
    display: flex;
    padding: 0 0.25rem;
    text-decoration: none;
    color: $ui-white;
    user-select: none;
    align-self: center;
    position: relative;
    align-items: center;
    height: $menu-bar-height;
}

.menu-bar-item.hoverable {
    cursor: pointer;
}

.menu-bar-item.active,
.menu-bar-item.hoverable:hover {
    background-color: $ui-black-transparent;
}

.file-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.file-group .menu-bar-item {
    padding: 0 0.75rem;
}

.feedback-link {
    color: $motion-primary;
    text-decoration: none;
}

.feedback-button {
    background-color: $ui-white;
    height: 34px;
}

.checkcode-button {
    background: $data-primary;
    height: 32px;
    box-shadow: 0 0 0 1px $ui-black-transparent;
}

.custom-button {
    margin-left: 450px;
}

.arrow-button {
    font-size: 40px;
}

.divider {
    margin: 0 .5rem;
    height: 34px;
}

.title-field {
    border: 1px dashed $ui-black-transparent;
    border-radius: .25rem;
    width: 12rem;
    height: 34px;
    background-color: transparent;
    padding: .5rem;
}

.title-field,
.title-field::placeholder {
    color: $ui-white;
    font-weight: bold;
    font-size: .8rem;
}

.share-button {
    background: $data-primary;
    height: 32px;
    box-shadow: 0 0 0 1px $ui-black-transparent;
}

.community-button {
    height: 32px;
    box-shadow: 0 0 0 1px $ui-black-transparent;
}

.community-button-icon {
    height: 1.25rem;
}

.coming-soon >:not(.coming-soon-tooltip) {
    opacity: 0.5;
}

.disable-button {
    opacity: 0.5;
}

.account-info-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 .5rem;
    align-items: center;
}

.mystuff-icon {
    margin: 0 .25rem;
    height: 1rem;
}

.help-icon {
    height: 2rem;
    width: 3rem;
    margin-top: 0.5rem;
}

.account-nav-menu, .mystuff-button {
    padding: 0 .25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-icon {
    margin: 0 .25rem;
    width: 2rem;
    border-radius: 0.25rem;
}

.dropdown-caret-icon {
    margin-left: .5rem;
    width: 0.5rem;
    height: 0.5rem;
}
