@import "../../css/colors.css";
@import "../../css/units.css";
@import "../../css/typography.css";

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: $ui-modal-overlay;
}

.modal-content {
    margin: 100px auto;
    outline: none;
    border: .25rem solid $ui-white-transparent;
    padding: 0;
    border-radius: $space;
    user-select: none;
    width: 500px;

    color: $text-primary;
    overflow: hidden;
}

.illustration {
    width: 100%;
    height: 208px;
    background-color: $motion-primary;
    background-image: url('./welcome.png');
    background-size: cover;
}

.body {
    background: $ui-white;
    padding: 1.5rem 2.25rem;
    text-align: center;
}

/* Confirmation buttons at the bottom of the modal */
.button-row {
    margin: 1.5rem 0;
    font-weight: bolder;
    text-align: right;
    display: flex;
    justify-content: center;
}

.button-row button {
    border: 1px solid $motion-primary;
    border-radius: 0.25rem;
    padding: 0.5rem 1.5rem;
    background: white;
    font-weight: bold;
    font-size: .875rem;
    cursor: pointer;
}

.button-row button.ok-button {
    background: $motion-primary;
    color: white;
}

.button-row button.no-button {
    color: $motion-primary;
    display: none;
}

.button-row button.view-project-button {
    background: $pen-primary;
    border-color: $pen-primary;
    color: white;
    display: none;
}

.button-row button + button {
    margin-left: 0.5rem;
}

.cat-icon {
    margin-left: .125rem;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
}

.faq-link-text {
    margin: 2rem 0 .5rem 0;
    font-size: .875rem;
    color: $text-primary;
}

.faq-link {
    color: $motion-primary;
    text-decoration: none;
}
